.campaign-box {
    position: relative;
    width: 100%;
    height: 85vh;
    max-width: unset !important;
    overflow: hidden;
}

.campaign-box * {
    position: absolute;
}

.campaign-date {
    top: 10%;
    left: 10%;
    z-index: 3;
}

.campaign-title {
    top: 20%;
    left: 45%;
    z-index: 3;
    font-size: clamp(1.75rem, 1.5278rem + 1.1111vw, 3rem);

}

.campaign-slogan {
    top: 30%;
    left: 45%;
    z-index: 3;
}

.campaign-sales {
    top: 50%;
    left: 45%;
    z-index: 3;
}

.campaign-details {
    top: 40%;
    left: 45%;
    z-index: 3;
}

.campaign-background {
    z-index: 0;
    height: 85vh;
    width: 100%;
    object-fit: cover;
}

.campaign-hero {
    bottom: 30%;
    left: 10%;
    z-index: 1;
    max-width: 30vw;
}

iframe {
    right: 3%;
    bottom: 3%;
    max-width: 360px;
    max-height: 240px;
}

/* album section */
.album-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: minmax(250px, 1fr);
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;
    padding: 0;
    gap: 1rem;
}


.box-album {
    position: relative;
    overflow: hidden;
}

.box-album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-album time,
.box-album li {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: 0;
    text-align: center;
}

.box-album li {
    list-style: none;
    top: 45%;
}

.box-album time {
    top: 55%;
}

.box-album:hover img {
    filter: brightness(50%);
}

.box-album:hover>li,
.box-album:hover>time {
    opacity: 1;
}